{% extends "base.html" %}
{% block content %}
<div class="row" style="margin: 2em;">
    <div class="col-md-8 col-xs-1">
        {% for article in articles %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ article.title }}</h3>
                    <div class="mb-1 text-muted">Author_{{ article.author.pk}}</div>
                    <div class="mb-1 text-muted">{{ article.created_at }}</div>
                    <p class="card-text mb-auto">{{ article.body|truncatechars:30 }}</p>
                    {% if not admin %}
                        <a href="{% url 'blog:detail' article.pk %}" class="stretched-link">記事を読む</a>
                    {% else %}
                        <a
                            href="{% url 'blog:edit' article.pk %}"
                            class="btn btn-lg btn-success"
                            style="position: absolute; right:0; bottom:0;"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                            Edit
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-4 col-xs-1">
        <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>
    </div>
</div>

{% endblock %}