{% extends "base.html" %}
{% block content %}
<div class="row" style="margin: 2em;">
    <div class="col-md-8 col-xs-1">
        <div class="row">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Author_{{ article.author.pk}}</h3>
                    <div class="mb-1 text-muted">{{ article.created_at }}</div>
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">{{ article.title }}</h3>
                    <p style="word-break: break-all;">{{ article.body }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-1">
        <h4 class="fst-italic">This is a charange space</h4>
    </div>
</div>
{% endblock %}